---
export const prerender = false;
import MainLayout from '../../../layouts/MainLayout.astro';
import { t } from '../../../i18n/index';
---

<MainLayout title={t.en['log.title']} locale="en" slug="log/">
  <h1 class="text-heading">{t.en['log.title']}</h1>
  <p style={`color: var(--color-text-secondary); margin-top: 1rem;`}>
    {t.en['log.empty']}
  </p>
</MainLayout>
